<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="th/layout/header">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/portpolio.css}">
    </th:block>
</head>
<body>
<div layout:fragment="content">
    <div class="project_header">
        <h1>Project</h1>
    </div>
    <div class="project_layout">
        <th:block th:each="list : ${ptList}">
            <div class="project_List">
                <div class="project_name_List">
                    <h3><th:block th:utext="${list.ptName}"></th:block></h3>
                </div>
                <div class="project_content_List">
                    <th:block th:utext="${list.ptContent}"></th:block>
                </div>
            </div>
        </th:block>
    </div>
</div>
</body>
</html>